@{
    ViewData["Title"] = "Country Filter";
}

<style>
    .layer2 {
        background-color: #408fbd11;
        margin-top: 10px;
        padding: 20px;
    }
    .li {
        text-align: center;
    }
</style>
<div class="layer2" text-align="center">
    <h1>@ViewBag.Country</h1>
    <ul>
        @foreach (var item in ViewBag.ThisAuthors)
        {
            <li>@Html.ActionLink((string)@item.Value, "Details", "Authors", new { id = (int)@item.Key }, null)</li>
        }
    </ul>
</div>
