@{
    ViewData["Title"] = "Genre Filter";
}
<style>
 .layer2 {
        background-color: #78471011;
        margin-top: 10px;
        padding: 20px;
    }
</style>
<div class="layer2">
    <h1>@ViewBag.Genre</h1>
    <ul>
        @foreach (var item in ViewBag.ThisBooks)
        {
            <li>@Html.ActionLink((string)@item.Value, "Details", "Books", new { id = (int)@item.Key }, null)</li>
        }
    </ul>
</div>