@{
    ViewData["Title"] = "Genre Filter";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>


<div class="sidenav">
    <p font-size="25px"><b>Книжки за жанрами</b></p>
    @foreach (var g in ViewBag.Genres)
    {
        <p>@Html.ActionLink((string)@g.Name, "GenreFilter", "Home", new { id = (int)@g.Id })</p>
    }
    <p font-size="25px"><b>Автори за країною</b></p>
    @foreach (var c in ViewBag.Countries)
    {
        <p>@Html.ActionLink((string)@c.Name, "CountryFilter", "Home", new { id = (int)@c.Id })</p>
    }
</div>

<div class="main">
<h1>@ViewBag.Genre</h1>
        <ul>
            @foreach (var item in ViewBag.ThisBooks)
            {
                <li>@Html.ActionLink((string)@item.Value, "Details", "Books", new { id = (int)@item.Key}, null)</li>
            }</ul>    
</div>