@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div id="chart1" style="font-size:14px;"></div>
</div>
<div class="container">
    <div id="chart2" style="font-size:14px;"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/GenresData', function (GenresData) {
                data = google.visualization.arrayToDataTable(GenresData, false);
                var option = {
                    title: "Книжки Та Жанри",
                    width: 500,
                    height: 400,
                    is3D: true
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>

    
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/AuthorsData', function (AuthorsData) {
                data = google.visualization.arrayToDataTable(AuthorsData, false);
                var option = {
                    title: "Книжки Та Автори",
                    width: 800,
                    height: 500,
                    is3D: true
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}




