@{
    ViewData["Title"] = "Home Page";
}

<head><link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" /></head>

<div class="sidenav">
    <p font-size="25px"><b>Книжки за жанрами</b></p>
    @foreach (var g in ViewBag.Genres)
    {
        <p>@Html.ActionLink((string)@g.Name, "GenreFilter", "Home", new { id = (int)@g.Id })</p>
    }
<p font-size="25px"><b>Автори за країною</b></p>
    @foreach (var c in ViewBag.Countries)
    {
<p>@Html.ActionLink((string)@c.Name, "CountryFilter", "Home", new { id = (int)@c.Id })</p>
    }
</div>

<div class="main">
    <h1>Тимчасовий вигляд сайту</h1>
    <h2>Нічого унікального</h2>
    <h3>Це було зроблено менше, ніж за 2 дні</h3>
    <h4>Далі буде. Нижче наявні книжки</h4>
    @foreach (var b in ViewBag.Books)
    {
        <p>@Html.ActionLink((string)@b.Name, "Details", "Books", new { id = (int)@b.Id })</p>
    }
</div>
