@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@section FixedBar{
    @foreach (var g in DataForFixedBar.Genres)
    {
        <a asp-area="" asp-controller="Home" asp-action="GenreFilter" asp-route-id="@g.Id">@g.Name</a>
    }
    <h2 style="margin: 0.15em 0 0.1em 0.1em; color: #343434; font-size: 20px; font-weight: normal; text-transform: uppercase; font-family: 'Orienta', sans-serif; letter-spacing: 1px;">Автори за країною</h2>
    @foreach (var c in DataForFixedBar.Countries)
    {
        <a asp-area="" asp-controller="Home" asp-action="CountryFilter" asp-route-id="@c.Id">@c.Name</a>
    }
}
<div class="container">
    <div id="chart1" style="font-size:14px;"></div>
</div>
<div class="container">
    <div id="chart2" style="font-size:14px;"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/GenresData', function (GenresData) {
                data = google.visualization.arrayToDataTable(GenresData, false);
                var option = {
                    title: "Книжки Та Жанри",
                    width: 500,
                    height: 400,
                    is3D: true
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>


    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/AuthorsData', function (AuthorsData) {
                data = google.visualization.arrayToDataTable(AuthorsData, false);
                var option = {
                    title: "Книжки Та Автори",
                    width: 800,
                    height: 500,
                    is3D: true
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}




