/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #9ee8e3;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
 
.sidenav a {
    font-family: Verdana, 'Book Antiqua', Georgia, serif;
    color: #020201;
    line-height: 123.07692307692307692307692307692%;
    font-size: 14px;
    display: block;
    padding: 2px;
}
    
        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }




/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 1em;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.main p{
    margin-top:0.1em;
    margin-bottom:0.1em;
}

.main li {
    list-style-type: none;
    text-align: center;
}

 h1 {
    margin: 0.5em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}

.main h2 {
    color: #000080;
}

